.all-services {
  min-height: 100vh;
  padding: 7rem 2rem 4rem;
  color: var(--color-title);
}

.all-services__content {
  width: min(100%, 1100px);
  margin: 0 auto;
}
.all-services__title,
.all-services__intro,
.all-services__grid{
    opacity: 0;
  transform: scale(0.97);
}
.all-services__title {
  text-align: center;
  font-size: clamp(2.4rem, 5vw, 4.6rem);
  font-weight: 500;
    animation-delay:0.8s;
    animation: appearFromAir 2s ease forwards;
}

.all-services__intro {
   text-align: center;
  margin-top: 1.5rem;
  color: var(--color-text);
  font-size: clamp(1.05rem, 2vw, 1.35rem);
      animation: appearFromAir 5s ease forwards;
  animation-delay:2s;
}


.all-services__grid {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
    animation: appearFromAir 3.5s ease forwards;
  animation-delay:5.5s;
}

.all-services__card {
  flex: 1 1 280px;
  max-width: 340px;

  display: flex;
  flex-direction: column;

  opacity: 0;
  transform: scale(0.97);
  animation: appearFromAir 1.8s ease forwards;
  animation-delay: calc(0.4s + var(--card-index) * 0.25s);
}

.all-services__section {
  margin-bottom: 0.8rem;
  color: var(--color-text);
  font-size: 0.9rem;
}

.all-services__card h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.all-services__card p {
  color: var(--color-text);
  text-align: center;
}

.all-services__items {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-services__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding-bottom: 0.8rem;

}

.all-services__prices {
 text-align: center;
  white-space: nowrap;
  color: var(--color-text);
}

.all-services__price {
  margin: 1rem 0;
  font-weight: 500;
  text-align: center;
}

.all-services__cta {
  font-weight: 550;
}

@media (max-width: 768px) {
  .all-services {
    padding: 6rem 1.5rem 3rem;
  }

  .all-services__grid {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  .all-services__item {
    flex-direction: column;
    gap: 0.4rem;
  }

  .all-services__prices {
    align-items: flex-start;
  }
}