.site-header {
background: var(--color-background);
display: flex;
justify-content: space-between;

  padding: 30px 60px 20px 60px;

  backdrop-filter: blur(10px);

  font-family: "Figtree", sans-serif;
  color: var(--color-title, #403732);
    opacity: 0;
  transform: scale(0.97);

  animation: servicesAppearFromAir 2.5s ease forwards;

}
.site-header__side {
  display: flex;
  flex-direction: column;
  gap: 18px;
}


.site-header__brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header__logo {
  width: 240px;
  height: auto;
  object-fit: contain;
}
.site-header_nav_and_icons{
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.site-header__nav{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.site-header__icons{
  display: flex;
  flex-direction: column;
 justify-content: space-between;
     padding: 10px 0 10px 0;
 
}
.site-header__icons_communication,
.site-header__icons_reseaux{
  display: flex;
  flex-direction: column;
}
.site-header__link,
.site-header__cta {
  border: none;
  background: transparent;
  padding: 0;
  font: var(--font-accent);
  color: var(--color-gold, #b8944f); 
  font-weight: 600;
line-height: 1.15;
  cursor: pointer;

  transition:
    transform 350ms ease,
    opacity 350ms ease;
}



.site-header__cta,
.site-header__link {
  font-size: 1.2rem;
  font-weight: 550;
color: var(--color-gold, #b8944f);
}

.site-header__cta img{
  width:60px;
  height: auto;
}
.site-header__link:hover,
.site-header__cta:hover {
  transform: scale(1.035);
  opacity: 0.75;
}
@keyframes servicesAppearFromAir {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 800px){
   .site-header {
  padding: 30px 20px 20px 20px;
  }
  .site-header__logo{
    width: 200px;
  }
}
@media (max-width: 768px) {
  .site-header {
  padding: 16px 30px 30px;
  }

  .site-header__logo{
    width: 180px;
  }

  .site-header__cta,
  .site-header__link{
    font-size: 1rem;
  }
  .site-header__cta img{
    width: 40px;
  }
}
@media (max-width: 650px){
    .site-header__logo{
    width: 160px;
  }
  .site-header_nav_and_icons{
    flex-direction: column;
    padding-top: 20px;
    gap:16px;
  }
  .site-header__nav{
    gap:30px;
  }
  .site-header__icons,
      .site-header__icons_communication, .site-header__icons_reseaux{
    flex-direction: row;
  }
}
@media (max-width: 450px){
   .site-header {
  padding: 24px;
  }
 
  .site-header__icons{
    justify-content: center;
  }
    .site-header__cta img{
    width: 30px;
  }
  }