.site-footer {
background:#d7eef8;
align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 24px;

  padding: 20px 40px 0 40px;

  font-family: "Figtree", sans-serif;
  color: #2e3a40;
  font-size: 0.9rem;
  opacity: 0;
  transform: scale(0.97);
  animation: appearFromAir 3s ease forwards;
  animation-delay:10.5s;
}
.site-footer__logo{
  width: 100px;
}
.site-footer_slogan {
  margin: 0;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap:0;
  font-weight: 400;
}
 .site-footer_slogan_first_step{
  padding-left: 60px;
}
.site-footer_slogan_second_step{
  padding-left: 120px;
}
.site-footer_slogan_third_step{
  padding-left: 180px;
}
.site-footer_cta_buttons{
  font-size: 1rem;
display: flex;
flex-direction: column;
gap:16px;
}
@media (max-width: 768px) {
  .site-footer {
    flex-direction: column;
    padding: 28px 22px;
  }
}