.site-footer {
background: var(--color-background, #f7f2ea);
align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 24px;

  padding: 40px 60px 20px 60px;
  margin-bottom: 0;
  color: #2e3a40;
  font-size: 0.9rem;
      opacity: 0;
  transform: scale(0.97);

  animation: servicesAppearFromAir 2.5s ease forwards;

}
.site-footer__side--left_communication,
.site-footer__side--left--right_riseaux {
  display: flex;
  flex-direction: row;
}
.site-footer__side--left_communication button,
.site-footer__side--left--right_riseaux button{
  width: 60px;
}
.site-footer__brand img{
  width: 120px;
  height: auto;
  object-fit: contain;
}

.site-footer_slogan {
  margin: 0;
  font-size: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:20px;
  font-weight: 500;
  font-family: var(--font-accent);
}

.site-footer_slogan_second_step{
  padding-left: 100px;
}
.site-footer__brand{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-footer__brand button{
 font-size: 1.2rem;
  font-weight: 550;
color: var(--color-gold, #b8944f);
font-family: var(--font-main);
}
.site-footer__side--left{
  display: flex;
  flex-direction: column;
}
@keyframes servicesAppearFromAir {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@media (max-width: 800px){
   .site-footer {
  padding: 30px 20px 20px 20px;
  }}
@media (max-width: 768px) {
  .site-footer {
    flex-direction: column-reverse;
    padding: 0 30px 30px;
    gap:36px;
  }
 .site-footer__side--left{
  display: flex;
  flex-direction: row;
}

}
@media (max-width: 450px){
  .site-footer{
    padding: 24px;
  }
  .site-footer_slogan_second_step{
    padding-left: 40px;
  }
}
