
/* ===========================
   GLOBAL VARIABLES
=========================== */

:root {
  --color-title: #2f2929;
  --color-text: #332d2d;
  --color-text-soft: #746866;

  --color-background: #f3e5e1;
  --color-powder: #f0ded9;
  --color-powder-light: #f8efec;
  --color-cream: #f7f0ec;
  --color-blanc-casse: #fffaf7;
  --color-beige: #e8d7d0;
  --color-peach: #edcec3;

  --color-charcoal: #2c2727;
  --color-charcoal-soft: #453c3c;

  --color-gold: #bd9554;
  --color-gold-deep: #98713b;
  --color-gold-soft: #d8bd88;
  --color-gold-light: #ead9b2;
  --color-border-gold: rgba(189, 149, 84, 0.3);

  --font-main: "Figtree", sans-serif;
  --font-title: "Cormorant Garamond", Georgia, serif;
  --font-accent: "Allura", cursive;

  --transition: 350ms ease;
}

/* ===========================
   RESET
=========================== */

*,
*::before,
*::after {box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
background: var(--color-background);
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  color: var(--color-text);

  line-height: 1.6;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ===========================
   TYPOGRAPHY
=========================== */

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
  color: var(--color-title);
  font-family: var(--font-title);
  font-weight: 500;
  line-height: 1.1;
}

p {
  margin: 0;
  color: var(--color-text);
  font-family: var(--font-main);
  font-weight: 400;
}


a {
  color: inherit;
  text-decoration: none;
}

/* ===========================
   BUTTONS
=========================== */

button {
  border: none;
  background: transparent;

  padding: 0;

  font-family: var(--font-accent);
  font-size: inherit;
  font-weight: 550;

  color: var(--color-title);

  cursor: pointer;

  transition:
    transform var(--transition),
    color var(--transition),
    opacity var(--transition);
}

button:hover {
  transform: scale(1.03);
}

button:active {
  transform: scale(1.01);
}

button:focus-visible {
  outline: none;
}

/* ===========================
   IMAGES
=========================== */

img {
  display: block;
  max-width: 100%;
}

/* ===========================
   LISTS
=========================== */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}